<div class="landing-parent">
  <div class="landing-container container">
    <div class="row">
      <div class="col">
        <h2 class="text-center">Flex Flights</h2>
        <h3 class="text-center"><small>Get Last Minute Flights Cheap</small></h3>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p></p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <button class="btn btn-primary btn-block" (click)="signUpClick()">Sign Up</button>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p></p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <button class="btn btn-outline-primary btn-block" (click)="logInClick()">Log In</button>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p></p>
      </div>
    </div>
  </div>
</div>