.landing-parent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.landing-container {
    padding-top: 0.5em;
    background: white;
}