.background {
    position: absolute;
    background: white;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.source-code, .destination-code {
    text-transform: uppercase;
}

.new-order-container {
    padding-top: 1em;
}