<app-navbar></app-navbar>
<div class="page-container landing-container" [ngStyle]="styles.landing">
    <app-landing></app-landing>
</div>
<!-- <div class="page-container login-container" [ngStyle]="styles.login">
    <app-login></app-login>
</div> -->
<div class="page-container signup-container" [ngStyle]="styles.signup">
    <app-signup></app-signup>
</div>
<div class="page-container orders-container" [ngStyle]="styles.orders">
    <app-view></app-view>
</div>
<div class="page-container view-container" [ngStyle]="styles.view">
    <app-view-order></app-view-order>
</div>
<div class="page-container create-container" [ngStyle]="styles.create">
    <app-new-order></app-new-order>
</div>